canvas {
    position: absolute;
    z-index: 1;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.image {
    width: 300px;
    height: 315px;
}



.caption {
    font-size: 20px;
    color: white;
}

.box {
    background: blue; 
    border-radius: 25px;
    text-align: center;
    width: 300px;
    max-height: 50%;
}

.space {
    height: 30px;
}


.center {
    text-align: center;
}

.title {
    font-size: 50px;
}

.description {
    width: 500px;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    width: 500px;
    flex-direction: column;
}

.big-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}