@font-face {
    font-family: 'lora';
    src: url('fonts/Lora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

:root {
    --x: 1.5; /* Define a CSS variable */
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
}

.text-container {
    flex-grow: 1;
    display: flex;
    height: calc(12.8vh * var(--x)); /* Multiply using calc() */
    flex-direction: column;
    margin-right: 5%;
}
.slide-content {
    font-family: 'lora';
    font-weight: 100;
    padding-inline: 5%;
    text-align: center;
}

.content {
    font-family: 'lora';
    font-weight: 100;
}

.heading {
    font-family: 'playfair';
    margin: 0;
    text-align: right;
}

a {
    display: block; /* Removes extra space */
    line-height: 0; /* Prevents extra spacing */
}

/* Row container to align images */
.image-row {
    display: flex;
    width: 100vw; /* Full width */
}

.slide-image {
    height: 70vh;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roof {
    padding-top: 50px;
    height: calc(12.8vh * var(--x)); /* Multiply using calc() */
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
}

.buttons img {
    height: auto; /* Maintain aspect ratio */
    max-height: 5vh; /* Limit height if necessary */
    bottom: 0;
}
.bot {
    height: calc(9.46vh * var(--x));
}

img {
    height: calc(15vh * var(--x));
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.contacts img {
    height: 5vh;
    margin-inline: 40%;
}
.footer {
    font-family: 'lora';
    font-weight: lighter;
    width: 100%;
    display: flex;
    flex-direction: row; /* Stack text and buttons */
    align-items: center; /* Center everything */
    justify-content: center;
    position: fixed; /* Ensure it stays at the bottom */
    bottom: 0;
    height: 10vh; /* Adjust height to fit content */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds background for visibility */
} 

.footer h1 {
    pointer-events: none;
}